{% extends "base.html" %}
{% block title %}Livrari Bolt Food, livrari rapide - Flota Partenera {% endblock %}
{% block description %}Vrei sa livrezi pe Bolt Food ? Profita de bonusurile Flota Partenera.{% endblock %}
{% block keywords %}joburi, livrari, bolt, asigurari{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block googlebot %}index, follow{% endblock %}
{% block body %}
    <section class = "fp-hero-section">
    	<div class = "fp-overlay">
	    	<div class = "fp-container">
	    		<div class = "fp-hero-text">
		    		<h1>Livreaza pe <span class = "bolt">Bolt Food</span></h1>
		    		<h2>Livrari Bolt Food cu Flota Partenera. Extra beneficii, aplica rapid.</h2>
		    		<p>Suntem la un click distanta.</p>
	    		</div>
	    		<div class = "fp-hero-form">
		    		<input type = "text" name = "pname" placeholder = "Numele tau">
		    		<input type = "tel" id="phone" name = "phone" placeholder = "Numar de telefon">
		    		<button class = "send-form">Trimite</button>
	    		</div>
	    	</div>
    	</div>
    </section>
    <section class = "fp-section fp-delivery">
    	<div class = "fp-container">
    		<div class = "fp-section-text">
	    		<h2>Bonusuri</h2>
    		</div>
    		<div class = "fp-serv-benefits">
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/health/green.svg">
    				<h3>Bonus Sanatate</h3>
    				<p>Oferim asigurare privata la Regina Maria sau MedLife (la alegerea ta), iar pretul acestei polite poate fi suportat de noi in intregime. Depinde de scoring-ul tau si vechimea din firma.</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/fuel/green.svg">
    				<h3>Bonus Combustibil</h3>
    				<p>Card statie de carburant (OMV, Petrom, Mol si Lukoil) unde va oferim 20% reducere la combustibil, programul de spalare si accesorii/consumabile auto.</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/fitness/green.svg">
    				<h3>Bonus Fitness</h3>
    				<p>Oferim bonusuri de fitness sau inot cu un discount la toate pachetele WordClass.</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/loyalty/green.svg">
    				<h3>Bonus Loialitate</h3>
    				<p>Tinem cont de recomandarile facute, la fiecare coleg nou adus in echipa te rasplatim cu 200 de lei.</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/start/green.svg">
    				<h3>Bonus Start</h3>
    				<p>Bonus de BUN VENIT adica primesti 100 de lei doar pentru ca ai ales cea mai faina echipa!</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/trust/green.svg">
    				<h3>Bonus Incredere</h3>
    				<p>Nu exista sa dai bani din buzunar NICIODATA. Nu platesti geanta termoizolanta, echipamentul sau mijlocul de transport imprumutat de la noi.</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/assurance/green.svg">
    				<h3>Bonus Asigurari</h3>
    				<p>Consultanță gratuită în asigurări de orice fel:<br>
    				- Auto (RCA, CASCO, Tractare..)<br>
					- Bagaje și călători<br>
					- Medicale și călătorii
					</p>
    			</div>
    			<div class = "benefit">
    				<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/benefits/special/green.svg">
    				<h3>Posibilitate colaborare</h3>
    				<p>Daca ai cel putin o diploma de bacalaureat si esti dispus sa faci faci un curs de o saptamana (platit de catre noi), iti deschidem propriul tau birou in asigurari (doar in Bucuresti).</p>
    			</div>
    		</div>
    	</div>
    </section>
    <section class = "fp-section fp-secondary fp-team">
    	<div class = "fp-container fp-flex">
    		<div class = "fp-section-text">
	    		<h2>Te asteptam in echipa noastra, este simplu sa aplici.</h2>
	    		<div class = "fp-requirments">
	    			<span class = "title">Ai nevoie de urmatoarele:</span>
	    			<span><i class = "fp-icon-check"></i> O bicicleta, masina sau scooter</span>
	    			<span><i class = "fp-icon-check"></i> Un smartphone</span>
	    			<span><i class = "fp-icon-check"></i> Varsta minima 18 ani</span>
	    		</div>
    		</div>
    		<h3 class = "fp-section-title-relative">Hai in echipa</h3>
    	</div>
    </section>
    <section class = "fp-section fp-benefits">
    	<div class = "fp-container fp-flex">
    		<div class = "fp-section-text">
    			<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/icon_benefit_hearth.svg">
	    		<h2>Avantajele in colaborarea cu noi</h2>
	    		<p>Vei beneficia de o serie de avantaje(bonusuri) precum asigurari private la Regina Maria sau MedLife, card statie de carburant, discount-uri de innot sau fitness, bonusuri pentru colegi noi adusi in echipa, echipament de lucru si altele.</p>
    		</div>
    		<div class = "fp-section-text">
    			<img alt = "livrari bolt" src = "{{public_url}}/img/SVG/icon_benefit_user.svg">
	    		<h2>Pare avantajos, dar nu degeaba</h2>
	    		<p>Apreciem seriozitatea si promptitudinea celor care colaboreaza cu noi. In cazul in care aceste valori nu vor fi respectate, vom alege sa incetam colaborarea</p>
    		</div>
    	</div>
    </section>
{% endblock %}
