{% extends "base.html" %}
{% block title %}Livrari Glovo, livrari rapide - Flota Partenera {% endblock %}
{% block description %}Vrei sa livrezi pe Glovo ? Profita de bonusurile Flota Partenera.{% endblock %}
{% block keywords %}joburi, livrari, glovo, asigurari{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block googlebot %}index, follow{% endblock %}
{% block body %}
    <section class = "fp-hero-section">
    	<div class = "fp-overlay">
	    	<div class = "fp-container">
	    		<div class = "fp-hero-text">
		    		<h1>Livreaza pe <span class = "glovo">Glovo</span></h1>
		    		<h2>Livrari Glovo cu Flota Partenera. Extra beneficii, aplica rapid.</h2>
		    		<p>Suntem la un click distanta.</p>
	    		</div>
	    		<div class = "fp-hero-form">
		    		<input type = "text" name = "pname" placeholder = "Numele tau">
		    		<input type = "tel" id="phone" name = "phone" placeholder = "Numar de telefon">
		    		<button class = "send-form">Trimite</button>
	    		</div>
	    	</div>
    	</div>
    </section>
    <section class = "fp-section fp-delivery">
    	<div class = "fp-container">
    		<div class = "fp-section-text">
	    		<h2>Bonusuri</h2>
    		</div>
    		<div class = "fp-serv-benefits">
    			<div class = "benefit">
    				<img alt = "livrari glovo" src = "{{public_url}}/img/SVG/benefits/assurance/yellow.svg">
    				<h3>Vei putea livra pe Glovo</h3>
    				<p>Din pacate, pentru Glovo nu oferim bonusuri insa poti colabora cu noi inclusiv asa.</p>
    			</div>
    		</div>
    	</div>
    </section>
    <section class = "fp-section fp-secondary fp-team">
    	<div class = "fp-container fp-flex">
    		<div class = "fp-section-text">
	    		<h2>Te asteptam in echipa noastra, este simplu sa aplici.</h2>
	    		<div class = "fp-requirments">
	    			<span class = "title">Ai nevoie de urmatoarele:</span>
	    			<span><i class = "fp-icon-check"></i> O bicicleta, masina sau scooter</span>
	    			<span><i class = "fp-icon-check"></i> Un smartphone</span>
	    			<span><i class = "fp-icon-check"></i> Varsta minima 18 ani</span>
	    		</div>
    		</div>
    		<h3 class = "fp-section-title-relative">Hai in echipa</h3>
    	</div>
    </section>
    <section class = "fp-section fp-benefits">
    	<div class = "fp-container fp-flex">
    		<div class = "fp-section-text">
    			<img alt = "livrari glovo" src = "{{public_url}}/img/SVG/icon_benefit_hearth.svg">
	    		<h2>Avantajele in colaborarea cu noi</h2>
	    		<p>Vei beneficia de o serie de avantaje(bonusuri) precum asigurari private la Regina Maria sau MedLife, card statie de carburant, discount-uri de innot sau fitness, bonusuri pentru colegi noi adusi in echipa, echipament de lucru si altele.</p>
    		</div>
    		<div class = "fp-section-text">
    			<img alt = "livrari glovo" src = "{{public_url}}/img/SVG/icon_benefit_user.svg">
	    		<h2>Pare avantajos, dar nu degeaba</h2>
	    		<p>Apreciem seriozitatea si promptitudinea celor care colaboreaza cu noi. In cazul in care aceste valori nu vor fi respectate, vom alege sa incetam colaborarea</p>
    		</div>
    	</div>
    </section>
{% endblock %}
